body {
    background: #0f1419;
    color: #fff;
    font-family: "Tahoma";
    direction: rtl;
    text-align: center;
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    background: #15202b;
    border-radius: 15px;
}

input, button {
    padding: 12px;
    font-size: 18px;
    margin: 10px;
    border-radius: 10px;
}

button {
    background: #1d9bf0;
    border: none;
    cursor: pointer;
    color: white;
}

#results {
    margin-top: 30px;
    text-align: left;
    direction: ltr;
}
